<div class="field_hot">
  <div class="hot_festival_text">
    <p>지금 이 순간! 즐기기 좋은 축제들</p>
  </div>
  <div class="columns columns_hot">
    <div class="column">
      <div class="card card_first">
        <a href="#">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">축제 제목</p>
                <p class="subtitle is-6">열리는 장소</p>
              </div>
              <div class="media-right">
                <figure class="image is-48x48">
                  <%=image_tag 'festival_icon/film.png' %>                </figure>
              </div>
            </div>
            <div class="content">
              내용
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="column">
      <div class="card card_second">
        <a href="#">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">

              <div class="media-content">
                <p class="title is-4">축제 제목</p>
                <p class="subtitle is-6">열리는 장소</p>
              </div>
              <div class="media-right">
                <figure class="image is-48x48">
                  <%=image_tag 'festival_icon/carnival.png' %>
                </figure>
              </div>
            </div>
            <div class="content">
              내용
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="column">
      <div class="card card_third">
        <a href="#">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">

              <div class="media-content">
                <p class="title is-4">축제 제목</p>
                <p class="subtitle is-6">열리는 장소</p>
              </div>
              <div class="media-right">
                <figure class="image is-48x48">
                  <%=image_tag 'festival_icon/music.png' %>                </figure>
              </div>
            </div>
            <div class="content">
              내용
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="column">
      <div class="card card_fourth">
        <a href="#">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">

              <div class="media-content">
                <p class="title is-4">축제 제목</p>
                <p class="subtitle is-6">열리는 장소</p>
              </div>
              <div class="media-right">
                <figure class="image is-48x48">
                  <%=image_tag 'festival_icon/fireworks.png' %>                </figure>
              </div>
            </div>
            <div class="content">
              내용
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="hot_festival_text festivals_pick">
    <p>MY FESTIVAL'S PICK</p>
  </div>

  <div class="columns columns_pick">
    <div class="column is-one-quarter is-offset-one-quarter">
      <div class="card">
        <a href="#">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= image_tag 'http://bulma.io/images/placeholders/1280x960.png' %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">축제 제목</p>
                <p class="subtitle is-6">열리는 장소</p>
              </div>
              <div class="media-right">
                <figure class="image is-48x48">
                  <%=image_tag 'festival_icon/film.png' %>                </figure>
              </div>
            </div>
            <div class="content">
              내용
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="column is-one-quarter">
      <div class="card">
        <a href="#">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= image_tag 'http://bulma.io/images/placeholders/1280x960.png' %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">축제 제목</p>
                <p class="subtitle is-6">열리는 장소</p>
              </div>
              <div class="media-right">
                <figure class="image is-48x48">
                  <%=image_tag 'festival_icon/film.png' %>                </figure>
              </div>
            </div>
            <div class="content">
              내용
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
