<section class="hero" style="background-image: url(<%= asset_path 'festival2.jpg' %>)">
    <div class="hero-body has-text-centered">
      <div class="container">
        <h1 class="title is-3">
            말레이시아
        </h1>
        <h2 class="subtitle is-5">
            천여 개의 섬으로 이루어진 지상낙원
        </h2>
      </div>
    </div>
</section>

<nav class="level">
  <div class="level-left">
    <div class="level-item has-text-centered">
      <a class="button is-orange"><span><%= @input_from.mon %>월<%= @input_from.mday %>일 부터</span></a>
      <a class="button is-orange"><span><%= @input_to.mon %>월<%= @input_to.mday %>일 부터</span></a>
        <p class="searchnav">에 즐기기 좋은 </p>
        <a class="button is-orange"><%= @input_where %></a>
        <p class="searchnav">의 </p>
        <a class="button is-orange"><%= @input_what %></a>
        <p>축제</p>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <div class="dropdown">
        <span>인기순</span>
        <div class="dropdown-content">
          <p>인기순</p>
          <p>시작일순</p>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <div class="box">
        <div class="media">
          <% @result.each do |r| %>
            <figure class="media-left">
              <p class="image is-result">
              <%= image_tag r.festival_photos.sample.image_url, class: 'fes_image'%>
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p class="title is-3">축제 제목 : <%= r.title %></p>
                <p class="subtitle is-6">소개 : <%= r.contact %></p>
                <p class="subtitle is-6">일시 : <%= r.start_date %></p>
                <p class="subtitle is-6">장소 : <%= r.address %></p>
                <p class="subtitle is-6">상세정보 : <%= r.category %></p>
          <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
